// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.error h5 {
    color: red;
    font-size: 25px;
}

.error ul {
    color: red;
    font-size: 20px;
    margin-left: 50px;
}

.edit-top {
  padding-bottom: 10px;
}

.edit-form h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-link {
  padding-top: 10px;
  
}

