// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.top-title {
  font-family: arial black;
}

.top {
    margin-top: 30px;
}

